---
import { allEquals, getUnique } from "../utils/object";
import { getGradeEntries, getDataForGraph } from "../utils/hkdirApi";
import BarGraph from "./graphs/BarGraph.astro";
import { getColorByStudyProgrammeCode } from "../utils/utils";

// Values for specifying graph
const filtering = {
  classCode: "TDT4120-1",
  year: 2023,
  semester: "Høst",
};

const gradeEntries = await getGradeEntries();

const data = getDataForGraph(
  gradeEntries.filter((entry) => allEquals(entry, filtering))
);

console.log(data.map(t => t.bars))
---

<div class="bg-gray-800 p-5 flex flex-col gap-5">
  <BarGraph
    data={data}
    seriesConfig={getUnique(
      gradeEntries,
      (entry) => entry.studyProgrammeCode
    ).map((code) => ({
      label: code,
      color: getColorByStudyProgrammeCode(code),
    }))}
  />
</div>

<style></style>
