---
import GithubIcon from "../components/icons/GithubIcon.astro";
import Link from "../components/Link.astro";
---
<footer class="bg-indigo-900 text-base self-end h-fit w-full flex flex-row gap-5 items-end justify-between p-12">
    <div>
        <i class="text-sm text-slate-300">
            Laget av
        </i>
        <p class="text-base">
            Jørgen Galdal | 
            <Link to="mailto:jorgen.4@live.no" subtle>
                jorgen.4@live.no
            </Link>
            | Ikkeno' forlag
        </p>
    </div>
    <Link to={"https://www.github.com/jorgengaldal/studielopet"} newWindow subtle noIcon>
        <GithubIcon class="size-6 fill-white"/>/jorgengaldal/studielopet
    </Link>
</footer>