---
import BaseLayout from './BaseLayout.astro';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';

interface Props {
	subtitle: string;
}

const { subtitle } = Astro.props;
---

<BaseLayout title={`Studieløpet | ${subtitle}`}>
  <Navbar />
  <main class="flex flex-col justify-start items-center mb-auto mt-0">
    <slot />
  </main>
  <Footer />
</BaseLayout>