---
import BaseLayout from './BaseLayout.astro';
import Navbar from './Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Navbar />
  <main>
    <slot />
  </main>
</BaseLayout>