---
import BaseLayout from "./BaseLayout.astro";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";

interface Props {
  subtitle?: string;
  title?: string;
}

const { subtitle, title } = Astro.props;
---

<BaseLayout
  title={(title ?? subtitle) ? `Studieløpet | ${subtitle}` : "Studieløpet"}
>
  <Navbar />
  <main class="flex flex-col justify-start items-center mb-auto mt-0">
    <slot />
  </main>
  <Footer />
</BaseLayout>
