---
import { SearchBar } from "../components/SearchBar";
---

<div
  class="w-full relative z-50 flex flex-row justify-center items-end gap-5 p-5 mb-5 shadow-lg shadow-indigo-500/30 border-b-4 border-indigo-500"
>
  <a href="/" transition:name="title"
    ><h1 class="m-0">Studie<span class="text-gradient">løpet</span></h1></a
  >
  <SearchBar client:load />
</div>
